/**
* GENERAL CSS
*/

.menu {
    list-style: none;
    margin-left: 0px;
}

.menu .menu-item {
    float: left;
    margin-left: 1%;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    color: #4169E1;
}

.menu .active {
    color: #0000FF;
}

.container {
    margin-top: 5%;
}

/**
* Edit
*/

.edit {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.edit .normal {
    text-decoration: none;
    color: #000;
}

.edit .normal:hover {
    color: #4169E1;
}

.green {
    color: green;
}

.green:hover {
    color: darkgreen;
}

.red {
    color: red;
}

.red:hover {
    color: darkred;
}